# {{ ansible_managed }}

{% for loadmodule in redis_loadmodule %}
loadmodule {{ loadmodule }}
{% endfor %}
{% for bind in redis_bind %}
bind {{ bind }}
{% endfor %}
protected-mode {{ 'yes' if redis_protected_mode else 'no }}
port {{ redis_port }}
tcp-backlog {{ redis_tcp_backlog }}
timeout {{ redis_timeout }}
tcp-keepalive {{ redis_tcp_keepalive }}
daemonize {{ 'yes' if redis_daemonize else 'no' }}
supervised {{ redis_supervised }}
pidfile {{ redis_pidfile }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
syslog-enabled {{ 'yes' if redis_syslog_enabled else 'no' }}
syslog-ident {{ redis_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}
databases {{ redis_databases }}
always-show-logo {{ 'yes' if redis_always_show_logo else 'no' }}
{% for save in redis_save %}
save {{ save }}
{% endfor %}
stop-writes-on-bgsave-error {{ 'yes' if redis_stop_writes_on_bgsave_error else 'no' }}
rdbcompression {{ 'yes' if redis_rdbcompression else 'no' }}
rdbchecksum {{ 'yes' if redis_rdbchecksum else 'no' }}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dir }}
